{% extends 'base.html.twig' %}
{% block title %}{{ table_name }}{% endblock %}

{% block body %}
    <h1>{{ table_name }}</h1>
    {{ include('pages/tables/parts/table_view.html.twig') }}

    {{ include('pages/tables/parts/add_form_modal.html.twig') }}
{#    {{ include('pages/tables/parts/edit_form_modal.html.twig') }}#}
{% endblock %}

{% block javascripts %}
<script>

    const table = document.getElementById('table');
    if (table) {
//    deleting item
        table.addEventListener('click', e => {
            if ($(e.target).hasClass('delete-food')) {
                // $("#loading").modal("show");
                if (Confirm('Opravdu?', 'Are you sure you want to visit Google', 'Ano', 'Zrušit', "https://www.google.com.eg")) {
                    const id = e.target.getAttribute('data-id');
                    const table = e.target.getAttribute('data-table');
                    fetch(`/${table}/delete/${id}`, {
                        method: 'DELETE'
                    }).then(res => window.location.reload());
                }
                // $("#loading").modal("hide");
            }
        })
    }
</script>
{% endblock %}
