<table id="table" class="table table-hover table-sm table-bordered">
    <thead class="thead-dark">
    <tr>
        {% for header in table.headers %}
            <th>{{ header }}</th>
        {% endfor %}
        <th>
            Úpravy
        </th>
    </tr>
    </thead>
    <tbody>
    {% for row in table.rows %}
        <tr>
            {% if row.link == true %}
                {% for data in row.data %}
                    <td><a href="/{{ table.name }}/detail/{{ row.id }}">{{ data }}</a></td>
                {% endfor %}
            {% else %}
                {% for data in row.data %}
                    <td>{{ data }}</td>
                {% endfor %}
            {% endif %}
            <td>
                {% if is_granted('ROLE_ADMIN') or (app.user is not null and row.admin == app.user.email) %}
{#                dopnění pro tabulku uživatelů#}
                    {% if userUpgrade is defined %}
                        {% if row.isAdmin == false %}
                            <a href="#" class="btn btn-sm btn-warning make-admin" data-id="{{ row.id }}">Povýšit práva na admina</a>
                        {% else %}
                            <a href="#" class="btn btn-sm btn-info degrade-admin" data-id="{{ row.id }}">Odebrat práva admina</a>
                        {% endif %}
                    {% else %}
                    <a href="/{{ table.name }}/edit/{{ row.id }}" class="btn btn-sm btn-warning edit-item">Upravit</a>
                    {# <button type="button" class="btn btn-warning edit-item" data-toggle="modal" data-id="{{ row.id }}" data-target="#editFormModal">Upravit</button>#}
                    <a href="#" class="btn btn-sm btn-danger delete-item" data-id="{{ row.id }}" data-table="{{ table.name }}">Smazat</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button type="button" class="btn btn-success donotshowloading" data-toggle="modal" data-target="#{{ formaddname }}">Přidat</button>