<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
        <link rel="icon" type="image/png" href="/public/favicon.png">

        <link href="https://fonts.googleapis.com/css?family=Mali|Pangolin&display=swap" rel="stylesheet">
{#        <link rel="stylesheet" href="{{ asset('offline/bootstrap.min.css') }}" />#}
{#        <script src="{{ asset('offline/jquery-3.3.1.slim.min.js') }}"></script>#}
{#        <script src="{{ asset('offline/popper.min.js') }}"></script>#}
{#        <script src="{{ asset('offline/bootstrap.min.js') }}"></script>#}
{#        <link rel="stylesheet" href="{{ asset('offline/bootswatch.min.css') }}" />#}

        <link rel="stylesheet" href="{{ asset('public/style.css') }}" />
        <script src="{{ asset('public/script.js') }}"></script>

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('parts/navbar.html.twig') }}

        <main role="main" class="content mt-4 pb-4 border-dark border-bottom">
            <div class="container">
                {%  for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {%  for message in app.flashes('warning') %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endfor %}
                {%  for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                {%  for message in app.flashes('info') %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </main>

        <!-- modal na loading -->
        <div class="modal fade" id="loading">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" style="background-color: transparent; border: none;">
                    {#            <img class="align-self-center" src="https://i.imgur.com/RlS6YST.gif" width="32px" height="32px">#}
                    <img class="align-self-center" src="https://media.giphy.com/media/qXx4nhKNp4qhG/giphy.gif" width="400" height="225">
                </div>
            </div>
        </div>

        <!-- modal na delete -->
        <div class='modal fade' id='deleteModal'>
            <div class='modal-dialog modal-sm'>
                <div class='modal-content'>
                    <!-- Modal Header -->
                    <div class='modal-header'>
                        <h4 class='modal-title'>{# doplní js #}</h4>
                        <button type='button' class='close' data-dismiss='modal'>&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class='modal-body'>{# doplní js #}</div>
                    <div class='modal-footer'>
                        <button class='btn btn-danger doAction'>{# doplní js #}</button>
                        <button class='btn btn-primary cancelAction'>{# doplní js #}</button>
                    </div>
                </div>
             </div>
         </div>

        {{ include('parts/footer.html.twig') }}
        <script>
            function Confirm(title, msg, $true, $false, trueCallback, falseCallback) {
                $("#deleteModal").modal("show");
                $("#deleteModal .modal-title").html(title);
                $("#deleteModal .modal-body").html(msg);
                $("#deleteModal .doAction").html($true);
                $("#deleteModal .cancelAction").html($false);

                $('#deleteModal .doAction').click(function () {
                    trueCallback();
                });
                $('#deleteModal .cancelAction, #deleteModal .fa-close').click(function () {
                    falseCallback();
                });
            }

            let logouttimeout = document.getElementById('logout-timeout'),
                minutes = 29, seconds = 59,
                t;
            $(document).ready(function() {
                $('body').bind('mousedown keydown', function(event) {
                    minutes = 29;
                    seconds = 59;
                    logouttimeout.textContent = (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" +
                        (seconds > 9 ? seconds : "0" + seconds);
                });
            });
            $(".showloading").click(function() {
                $("#loading").modal("show");
            });

            function add() {
                seconds--;
                if (seconds < 0) {
                    seconds = 59;
                    minutes--
                }

                logouttimeout.textContent = (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" +
                    (seconds > 9 ? seconds : "0" + seconds);

                if (minutes === 0 && seconds === 0) {
                    window.location.href = "/logout/auto";
                } else {
                    timer();
                }
            }
            function timer() {
                t = setTimeout(add, 1000);
            }

            if (logouttimeout !== null) {
                timer();
            }
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
