{% extends 'base.html.twig' %}
{% block title %}{{ tournament.name }}{% endblock %}

{% block stylesheets %}
    <style>

        .container {
            max-width: 98%;
        }

        .card {
            width: fit-content;
        }
    </style>
{% endblock %}
{% block body %}
<h1>{% if type == "map" %}Pavouk{% else %}Rozstřel{% endif %} pro turnaj: <a href="/tournaments/detail/{{ tournament.id }}">{{ tournament.name }}</a></h1>

<div id="map" class="flex-nowrap align-items-center">
    <!--coutery pro tabindex -->
    {% set gamescounter = 0 %}
    {% set counter = 1 %}

    {% set round = 1 %}

    <div class="row">
        <h3>{{ round }}. {% if type == "map" %}kolo{% else %}skupina{% endif %}</h3>
    </div>
    <div class="row">
        {% for game in games %}
        {% set gamescounter = gamescounter + counter %}
        {% if round != game.round %}
    </div>
    <div class="row">
        <h3>{{ round + 1 }}. {% if type == "map" %}kolo{% else %}skupina{% endif %}</h3>
    </div>
    <div class="row">
        {% set round = game.round %}
        {% endif %}
        <!--  <div class="row align-content-center" style="margin-top: {{ round * 90 }}px;"> -->
        <div class="col align-content-center">
            <div class="card card-block mx-auto border-primary mb-2 mt-2" style="min-width: 230px">
                <div class="card-header p-1 pl-3 pr-3">
                    <span class="h3">{{ game.team1.name | default("???") }}</span><br>
                    <span class="h5">vs</span><br>
                    <span class="h3">{{ game.team2.name | default("???") }}</span>
                </div>
                <div class="card-body p-1">
                    <table class="table table-sm table-bordered mb-0">
                        <tr>
                            <td>{{ game.team1.name | default("???") }}</td>
                            {% set counter = gamescounter %}
                            {% for i in 1..tournament.PlaysInGame %}
                                <td class="team1_points"
                                        {% if is_granted('ROLE_ADMIN') or (app.user is not null and admin == app.user.email) %}
                                            contenteditable="true"
                                        {% endif %}
                                    tabindex={{ counter }}>{{ game.PointsTeam1[i-1] }}</td>
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </tr>
                        <tr class="team1_poins">
                            <td>{{ game.team2.name | default("???") }}</td>
                            {% set counter = gamescounter %}
                            {% for i in 1..tournament.PlaysInGame %}
                                <td class="team2_points"
                                        {% if is_granted('ROLE_ADMIN') or (app.user is not null and admin == app.user.email) %}
                                            contenteditable="true"
                                        {% endif %}
                                    tabindex={{ counter }}>{{ game.PointsTeam2[i-1] }}</td>
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </tr>
                    </table>
                    {% if is_granted('ROLE_ADMIN') or (app.user is not null and admin == app.user.email) %}
                        <a href="#" data-id="{{ game.id }}" data-team1id="{{ game.team1.id | default("")}}"
                           data-team2id="{{ game.team2.id | default("") }}" tabindex={{ counter }}
                           class="btn btn-success save-score pl-2 pr-2 mt-1 p-0 btn-block align-content-center">
                        Uložit stav
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    {% if type == "ordering" %}
    <h2>Výsledky</h2>
        <div style="float:left; margin-right: 20px;">
            <h3>1. skupina</h3>
            <table id="table" class="table table-hover table-sm table-bordered table-nonfluid">
                <thead class="thead-dark">
                <tr>
                    <th>Tým</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                {% for team in group1 %}
                    <tr>
                        <td><a href="/teams/detail/{{ team.id }}">{{ team.name }}</a></td>
                        <td>{{ team.exps }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="float:left;">
            <h3>2. skupina</h3>
            <table id="table" class="table table-hover table-sm table-bordered table-nonfluid">
                <thead class="thead-dark">
                <tr>
                    <th>Tým</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                {% for team in group2 %}
                    <tr>
                        <td><a href="/teams/detail/{{ team.id }}">{{ team.name }}</a></td>
                        <td>{{ team.exps }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="clear:both"></div>

    {% endif %}


{% endblock %}

{% block javascripts %}
    <script>
        const map = document.getElementById('map');
        if (map) {
            map.addEventListener('click', e => {
                if ($(e.target).hasClass('save-score')) {
                    $("#loading").modal("show");
                    const id = e.target.getAttribute('data-id');
                    const team1_score = e.target.parentElement.getElementsByClassName("team1_points");
                    const team2_score = e.target.parentElement.getElementsByClassName("team2_points");
                    team1_score_array = [];
                    team2_score_array = [];
                    for (var i = 0; i < team1_score.length; i++) {
                        let score = team1_score[i].innerText;
                        team1_score_array.push(score);
                        score = team2_score[i].innerText;
                        team2_score_array.push(score);
                    }
                    const team1id = e.target.getAttribute('data-team1id');
                    const team2id = e.target.getAttribute('data-team2id');
                    const teams_score_json = {
                        team1: team1_score_array,
                        team1ID: team1id,
                        team2: team2_score_array,
                        team2ID: team2id,
                    };
                    fetch(`/game/update_score/${id}`, {
                        method: 'PATCH',
                        body: JSON.stringify(teams_score_json), // data can be `string` or {object}!
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(res => window.location.reload());
                    $("#loading").modal("hide");
                }
            })
        }
    </script>
{% endblock %}
