{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Detail týmu: {{ team.name }}</h1>
    <h2>Hráči v týmu:</h2>
    {{ include('pages/details/parts/table_view.html.twig', {formaddname: "player"}) }}
    {% if is_granted('ROLE_ADMIN') or (app.user is not null and admin == app.user.email) %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addFormModal">Přidat hráče</button>
    {% endif %}

    {% if is_granted('ROLE_CAPTAIN') %}
    {{ include('pages/details/parts/add_form_modal.html.twig', {formaddname: "player"}) }}
    {% endif %}
    {#    {{ include('pages/tables/parts/edit_form_modal.html.twig') }}#}
{% endblock %}

{% block javascripts %}
    <script>
        const table = document.getElementById('table');
        if (table) {
//    deleting item
            table.addEventListener('click', e => {
                if ($(e.target).hasClass('remove-item')) {
                    Confirm('Odebrat', 'Opravdu chcete hráče z týmu odebrat?', 'Odebrat', 'Zrušit',
                        function () {
                            $("#deleteModal").modal("hide");
                            $("#loading").modal("show");
                            const team_id = e.target.getAttribute('data-id');
                            const player_id = e.target.getAttribute('data-row-id');
                            fetch(`/team/${team_id}/unlink/${player_id}`, {
                                method: 'DELETE'
                            }).then(res => window.location.reload());
                            $("#loading").modal("hide");
                        }, function () {
                            $("#deleteModal").modal("hide");
                        });
                }
            })
        }
    </script>
{% endblock %}
