{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Detail týmu: {{ team.name }}</h1>
    <h2>Logo:</h2>
{#    TODO add logo#}
    <h2>Hráči v týmu:</h2>
    {{ include('pages/details/parts/table_view.html.twig') }}

    {% if is_granted('ROLE_ADMIN') or (app.user is not null and admin == app.user.email) %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addFormModal">Přidat hráče</button>
    {% endif %}

    {% if is_granted('ROLE_CAPTAIN') %}
    {{ include('pages/details/parts/add_form_modal.html.twig') }}
    {% endif %}
    {#    {{ include('pages/tables/parts/edit_form_modal.html.twig') }}#}
{% endblock %}

{% block javascripts %}
    <script>
        const table = document.getElementById('table');
        if (table) {
//    deleting item
            table.addEventListener('click', e => {
                if ($(e.target).hasClass('delete-item')) {
                    $("#loading").modal("show");
                    if (Confirm('Opravdu?', 'Are you sure you want to visit Google', 'Ano', 'Zrušit', "https://www.google.com.eg")) {
                        const id = e.target.getAttribute('data-id');
                        const table = e.target.getAttribute('data-table');
                        fetch(`/${table}/delete/${id}`, {
                            method: 'DELETE'
                        }).then(res => window.location.reload());
                    }
                    $("#loading").modal("hide");
                }
            })
        }
    </script>
{% endblock %}
