{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Detail turnaje: {{ tournament.name }}</h1>

    <h2>Pavouk</h2>
    <a href="/tournaments/detail/{{ tournament.id }}/map" class="btn btn-success">Zobrazit pavouka</a>
    {% if is_granted('ROLE_ADMIN') %}
    <button onclick="generate_games({{ tournament.id }})" class="btn btn-danger">Generovat pavouka</button>
    {% endif %}

    <h2>Datum</h2>
    <p>{{ tournament_date }}</p>

    <h2>Cena</h2>
    <p>{{ tournament.price }} Kč</p>

    <h2>Počet hřišť</h2>
    <p>{{ tournament.fieldCount }}</p>

    <h2>Maximální počet týmů</h2>
    <p>{{ tournament.maxTeamsCount }}</p>

    <h2>Týmy v turnaji:</h2>
    {{ include('pages/details/parts/table_view.html.twig') }}
    {% if is_granted('ROLE_CAPTAIN') %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addFormModal">Přidat tým</button>
    {% endif %}

    {% if is_granted('ROLE_CAPTAIN') %}
    {{ include('pages/details/parts/add_form_modal.html.twig') }}
    {% endif %}
    {#    {{ include('pages/tables/parts/edit_form_modal.html.twig') }}#}
{% endblock %}

{% block javascripts %}
    <script>
        function generate_games(id) {
            // generating games
            $("#loading").modal("show");
            const url = '/tournaments/detail/' + id + '/generate';
            try {
                const response = fetch(url, {
                    method: 'POST'
                //});
                //}).then(res => window.location.reload());
                }).then($("#loading").modal("hide"));
                console.log('Success');
            } catch (error) {
                console.error('Error:', error);
            }
            // TODO nezmizi
            $("#loading").modal("hide");
        }

        const table = document.getElementById('table');
        if (table) {
//    deleting item
            table.addEventListener('click', e => {
                if ($(e.target).hasClass('delete-item')) {
                    if (Confirm('Opravdu?', 'Are you sure you want to visit Google', 'Ano', 'Zrušit', "https://www.google.com.eg")) {
                        $("#loading").modal("show");
                        const id = e.target.getAttribute('data-id');
                        const table = e.target.getAttribute('data-table');
                        fetch(`/${table}/unlink/${id}`, {
                            method: 'DELETE'
                        }).then(res => window.location.reload());
                        $("#loading").modal("hide");
                    }
                }
            })
        }
    </script>
{% endblock %}
