{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Detail turnaje: {{ tournament.name }}</h1>

    <h2>Pavouk</h2>
    {% if is_granted('ROLE_ADMIN') or (app.user is not null and admin == app.user.email) %}
    <p class="text-info">Tip: Po vyplnění rozstřelu je možno na jeho základě generovat pavouka.</p>
    {% endif %}
    <a href="/tournaments/detail/{{ tournament.id }}/map" class="mb-1 btn btn-success">Zobrazit pavouka</a>
    {% if is_granted('ROLE_ADMIN') or (app.user is not null and admin == app.user.email) %}
        <br>
        <small class="form-text text-muted">Vygeneruje ze sudého počtu týmů pavouka.</small>
        <button onclick="generate_games_map({{ tournament.id }})" class="mb-1 btn btn-danger">Generovat pavouka náhodně</button>
        <small class="form-text text-muted">Z rozstřelu se vezmou z každé skupiny 4 nejlepší týmy, z těch se pak poskládá pavouk.</small>
        <button type="button" onclick="generate_games_map_from_ordering({{ tournament.id }})" class="mb-1 btn btn-danger">Generovat pavouka na základě výsledků rozstřelu</button>
    {% endif %}

    <h2>Rozstřel</h2>
    <a href="/tournaments/detail/{{ tournament.id }}/ordering" class="mb-1 btn btn-success">Zobrazit rozstřel</a>
    {% if is_granted('ROLE_ADMIN') or (app.user is not null and admin == app.user.email) %}
        <br>
        <small class="form-text text-muted">Rostřel rozhodí týmy do 2 skupin, v těch hraje každý s každým.</small>
        <button type="button" onclick="generate_games_ordering({{ tournament.id }})" class="mb-1 btn btn-danger">Generovat rozstřel</button>
    {% endif %}
    <h2>Datum</h2>
    <p>{{ tournament_date }}</p>

    <h2>Cena</h2>
    <p>{{ tournament.price }} Kč</p>

    <h2>Počet hřišť</h2>
    <p>{{ tournament.fieldCount }}</p>

    <h2>Maximální počet týmů</h2>
    <p>{{ tournament.maxTeamsCount }}</p>

    <h2>Týmy v turnaji:</h2>
    {{ include('pages/details/parts/table_view.html.twig', {formaddname: "teams"}) }}
    {% if is_granted('ROLE_CAPTAIN') %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addFormModal">Přidat tým</button>
    {% endif %}

    {% if is_granted('ROLE_CAPTAIN') %}
    {{ include('pages/details/parts/add_form_modal.html.twig', {formaddname: "teams"}) }}
    {% endif %}
    {#    {{ include('pages/tables/parts/edit_form_modal.html.twig') }}#}
{% endblock %}

{% block javascripts %}
    <script>
        function generate_games_map(id) {
            // generating games
            $("#loading").modal("show");
            const url = '/tournaments/detail/' + id + '/generate/1';
            try {
                const response = fetch(url, {
                    method: 'POST'
                    //});
                    //}).then(res => window.location.reload());
                }).then(res => window.location.reload());
                $("#loading").modal("hide");
            } catch (error) {
                console.error('Error:', error);
            }
            // TODO nezmizi
            $("#loading").modal("hide");
        }

        function generate_games_map_from_ordering(id) {
            // generating games
            $("#loading").modal("show");
            const url = '/tournaments/detail/' + id + '/generate/2';
            try {
                const response = fetch(url, {
                    method: 'POST'
                    //});
                    //}).then(res => window.location.reload());
                }).then(res => window.location.reload());
                $("#loading").modal("hide");
            } catch (error) {
                console.error('Error:', error);
            }
            // TODO nezmizi
            $("#loading").modal("hide");
        }


        function generate_games_ordering(id) {
            // generating games
            $("#loading").modal("show");
            const url = '/tournaments/detail/' + id + '/generate_ordering';
            try {
                const response = fetch(url, {
                    method: 'POST'
                    //});
                    //}).then(res => window.location.reload());
                }).then(res => window.location.reload());
                $("#loading").modal("hide");
            } catch (error) {
                console.error('Error:', error);
            }
            // TODO nezmizi
            $("#loading").modal("hide");
        }


        const table = document.getElementById('table');
        if (table) {
//    deleting item
            table.addEventListener('click', e => {
                if ($(e.target).hasClass('remove-item')) {
                    Confirm('Odebrat', 'Opravdu chcete tým z turnaje odebrat?', 'Odebrat', 'Zrušit',
                        function () {
                            $("#deleteModal").modal("hide");
                            $("#loading").modal("show");
                            const tournament_id = e.target.getAttribute('data-id');
                            const team_id = e.target.getAttribute('data-row-id');
                            fetch(`/tournament/${tournament_id}/unlink/${team_id}`, {
                                method: 'DELETE'
                            }).then(res => window.location.reload());
                            $("#loading").modal("hide");
                        }, function () {
                            $("#deleteModal").modal("hide");
                        });
                }
            })
        }
    </script>
{% endblock %}
