{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Detail turnaje: {{ tournament.name }}</h1>

    <h2>Datum</h2>
    <p>{{ tournament_date }}</p>

    <h2>Cena</h2>
    <p>{{ tournament.price }} Kč</p>

    <h2>Počet hřišť</h2>
    <p>{{ tournament.fieldCount }}</p>

    <h2>Maximální počet týmů</h2>
    <p>{{ tournament.maxTeamsCount }}</p>

    <h2>Týmy v turnaji:</h2>
    {{ include('pages/details/parts/table_view.html.twig') }}

    {{ include('pages/details/parts/add_form_modal.html.twig') }}
    {#    {{ include('pages/tables/parts/edit_form_modal.html.twig') }}#}
{% endblock %}

{% block javascripts %}
    <script>

        const table = document.getElementById('table');
        if (table) {
//    deleting item
            table.addEventListener('click', e => {
                if ($(e.target).hasClass('delete-food')) {
                    // $("#loading").modal("show");
                    if (Confirm('Opravdu?', 'Are you sure you want to visit Google', 'Ano', 'Zrušit', "https://www.google.com.eg")) {
                        const id = e.target.getAttribute('data-id');
                        const table = e.target.getAttribute('data-table');
                        fetch(`/${table}/delete/${id}`, {
                            method: 'DELETE'
                        }).then(res => window.location.reload());
                    }
                    // $("#loading").modal("hide");
                }
            })
        }
    </script>
{% endblock %}
