{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Nastavení uživatele: {{ user.email }}</h1>
    <h2>Změna hesla</h2>
    {{ form_start(formeditpassword) }}
    {{ form_widget(formeditpassword) }}
    {{ form_end(formeditpassword) }}

    <h2>Založené turnaje</h2>
    {{ include('pages/details/parts/table_view.html.twig', {table: table_tournaments}) }}

    <h2>Založené týmy</h2>
    {{ include('pages/details/parts/table_view.html.twig', {table: table_teams}) }}

    <h2>Založení uživatelé</h2>
    {{ include('pages/details/parts/table_view.html.twig', {table: table_players}) }}


{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
